/*
Copyright (C) 2019-2020 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.target
{
    animation-duration: 7s;
}

#slow:target ~ .target
{
    animation-duration: 7s;
}

#medium:target ~ .target
{
    animation-duration: 6s;
}

#fast:target ~ .target
{
    animation-duration: 5s;
}

#rust:target ~ .target
{
    animation-duration: 3.6s;
}

#fast:target ~ .target-4
{
    animation-delay: 2.3s;
}

#rust:target ~ .target-7
{
    animation-delay: 4s;
}

.target-1
{
    animation-name: move-1;
    animation-delay: 0s;
}

.target-2
{
    animation-name: move-2;
    animation-delay: .7s;
}

.target-3
{
    animation-name: move-3;
    animation-delay: 1.4s;
}

.target-4
{
    animation-name: move-4;
    animation-delay: 2.1s;
}

.target-5
{
    animation-name: move-5;
    animation-delay: 2.8s;
}

.target-6
{
    animation-name: move-6;
    animation-delay: 3.5s;
}

.target-7
{
    animation-name: move-7;
    animation-delay: 4.2s;
}

.target-8
{
    animation-name: move-8;
    animation-delay: 4.9s;
}

@media (orientation: portrait)
{
    .target-1
    {
        animation-name: move-1-mobile;
    }

    .target-2
    {
        animation-name: move-2-mobile;
    }

    .target-3
    {
        animation-name: move-3-mobile;
    }

    .target-4
    {
        animation-name: move-4-mobile;
    }

    .target-5
    {
        animation-name: move-5-mobile;
    }

    .target-6
    {
        animation-name: move-6-mobile;
    }

    .target-7
    {
        animation-name: move-7-mobile;
    }

    .target-8
    {
        animation-name: move-8-mobile;
    }
}

@keyframes move-1-mobile
{
    from
    {
        top: 50%;
        left: 130%;
    }

    14%
    {
        top: 55%;
        left: 90%;
    }

    28%
    {
        top: 33%;
        left: 80%;
    }

    42%
    {
        top: 55%;
        left: 70%;
    }

    56%
    {
        top: 77%;
        left: 60%;
    }

    70%
    {
        top: 60%;
        left: 90%;
    }

    84%
    {
        top: 43%;
        left: 80%;
    }

    to
    {
        top: 48%;
        left: 120%;
    }
}

@keyframes move-2-mobile
{
    from
    {
        top: 107%;
        left: 50%;
    }

    14%
    {
        top: 90%;
        left: 80%;
    }

    28%
    {
        top: 68%;
        left: 70%;
    }

    42%
    {
        top: 63%;
        left: 30%;
    }

    56%
    {
        top: 41%;
        left: 40%;
    }

    70%
    {
        top: 24%;
        left: 50%;
    }

    84%
    {
        top: 7%;
        left: 20%;
    }

    to
    {
        top: 12%;
        left: -20%;
    }
}

@keyframes move-3-mobile
{
    from
    {
        top: 10%;
        left: -20%;
    }

    14%
    {
        top: 15%;
        left: 20%;
    }

    28%
    {
        top: 32%;
        left: 50%;
    }

    42%
    {
        top: 54%;
        left: 60%;
    }

    56%
    {
        top: 49%;
        left: 20%;
    }

    70%
    {
        top: 71%;
        left: 30%;
    }

    84%
    {
        top: 88%;
        left: 60%;
    }

    to
    {
        top: 110%;
        left: 50%;
    }
}

@keyframes move-4-mobile
{
    from
    {
        top: -20%;
        left: 0;
    }

    14%
    {
        top: 2%;
        left: 10%;
    }

    28%
    {
        top: 19%;
        left: 40%;
    }

    42%
    {
        top: 25%;
        left: 0;
    }

    56%
    {
        top: 47%;
        left: 10%;
    }

    70%
    {
        top: 69%;
        left: 0;
    }

    84%
    {
        top: 77%;
        left: 30%;
    }

    to
    {
        top: 101%;
        left: 30%;
    }
}

@keyframes move-5-mobile
{
    from
    {
        top: 107%;
        left: 0;
    }

    14%
    {
        top: 90%;
        left: 30%;
    }

    28%
    {
        top: 85%;
        left: 70%;
    }

    42%
    {
        top: 63%;
        left: 80%;
    }

    56%
    {
        top: 41%;
        left: 90%;
    }

    70%
    {
        top: 19%;
        left: 80%;
    }

    84%
    {
        top: 2%;
        left: 50%;
    }

    to
    {
        top: -20%;
        left: 40%;
    }
}

@keyframes move-6-mobile
{
    from
    {
        top: -20%;
        left: 70%;
    }

    14%
    {
        top: 2%;
        left: 80%;
    }

    28%
    {
        top: 7%;
        left: 40%;
    }

    42%
    {
        top: 24%;
        left: 70%;
    }

    56%
    {
        top: 29%;
        left: 30%;
    }

    70%
    {
        top: 36%;
        left: 60%;
    }

    84%
    {
        top: 31%;
        left: 20%;
    }

    to
    {
        top: 26%;
        left: -20%;
    }
}

@keyframes move-7-mobile
{
    from
    {
        top: 85%;
        left: 130%;
    }

    14%
    {
        top: 80%;
        left: 90%;
    }

    28%
    {
        top: 75%;
        left: 50%;
    }

    42%
    {
        top: 53%;
        left: 40%;
    }

    56%
    {
        top: 58%;
        left: 0;
    }

    70%
    {
        top: 36%;
        left: 10%;
    }

    84%
    {
        top: 58%;
        left: 20%;
    }

    to
    {
        top: 53%;
        left: -20%;
    }
}

@keyframes move-8-mobile
{
    from
    {
        top: 70%;
        left: 120%;
    }

    14%
    {
        top: 75%;
        left: 80%;
    }

    28%
    {
        top: 51%;
        left: 80%;
    }

    42%
    {
        top: 68%;
        left: 50%;
    }

    56%
    {
        top: 63%;
        left: 10%;
    }

    70%
    {
        top: 41%;
        left: 0;
    }

    84%
    {
        top: 19%;
        left: 10%;
    }

    to
    {
        top: 2%;
        left: -20%;
    }
}


/*
5 40
17 30
22 10
24 0
*/

@keyframes move-1
{
    from
    {
        top: 130%;
        left: 50%;
    }

    14%
    {
        top: 90%;
        left: 55%;
    }

    28%
    {
        top: 80%;
        left: 33%;
    }

    42%
    {
        top: 70%;
        left: 55%;
    }

    56%
    {
        top: 60%;
        left: 77%;
    }

    70%
    {
        top: 90%;
        left: 60%;
    }

    84%
    {
        top: 80%;
        left: 43%;
    }

    to
    {
        top: 120%;
        left: 48%;
    }
}

@keyframes move-2
{
    from
    {
        top: 50%;
        left: 107%;
    }

    14%
    {
        top: 80%;
        left: 90%;
    }

    28%
    {
        top: 70%;
        left: 68%;
    }

    42%
    {
        top: 30%;
        left: 63%;
    }

    56%
    {
        top: 40%;
        left: 41%;
    }

    70%
    {
        top: 50%;
        left: 24%;
    }

    84%
    {
        top: 20%;
        left: 7%;
    }

    to
    {
        top: -20%;
        left: 12%;
    }
}

@keyframes move-3
{
    from
    {
        top: -20%;
        left: 10%;
    }

    14%
    {
        top: 20%;
        left: 15%;
    }

    28%
    {
        top: 50%;
        left: 32%;
    }

    42%
    {
        top: 60%;
        left: 54%;
    }

    56%
    {
        top: 20%;
        left: 49%;
    }

    70%
    {
        top: 30%;
        left: 71%;
    }

    84%
    {
        top: 60%;
        left: 88%;
    }

    to
    {
        top: 50%;
        left: 110%;
    }
}

@keyframes move-4
{
    from
    {
        top: 0;
        left: -20%;
    }

    14%
    {
        top: 10%;
        left: 2%;
    }

    28%
    {
        top: 40%;
        left: 19%;
    }

    42%
    {
        top: 0;
        left: 25%;
    }

    56%
    {
        top: 10%;
        left: 47%;
    }

    70%
    {
        top: 0;
        left: 69%;
    }

    84%
    {
        top: 30%;
        left: 77%;
    }

    to
    {
        top: 30%;
        left: 101%;
    }
}

@keyframes move-5
{
    from
    {
        top: 0;
        left: 107%;
    }

    14%
    {
        top: 30%;
        left: 90%;
    }

    28%
    {
        top: 70%;
        left: 85%;
    }

    42%
    {
        top: 80%;
        left: 63%;
    }

    56%
    {
        top: 90%;
        left: 41%;
    }

    70%
    {
        top: 80%;
        left: 19%;
    }

    84%
    {
        top: 50%;
        left: 2%;
    }

    to
    {
        top: 40%;
        left: -20%;
    }
}

@keyframes move-6
{
    from
    {
        top: 70%;
        left: -20%;
    }

    14%
    {
        top: 80%;
        left: 2%;
    }

    28%
    {
        top: 40%;
        left: 7%;
    }

    42%
    {
        top: 70%;
        left: 24%;
    }

    56%
    {
        top: 30%;
        left: 29%;
    }

    70%
    {
        top: 60%;
        left: 36%;
    }

    84%
    {
        top: 20%;
        left: 31%;
    }

    to
    {
        top: -20%;
        left: 26%;
    }
}

@keyframes move-7
{
    from
    {
        top: 130%;
        left: 85%;
    }

    14%
    {
        top: 90%;
        left: 80%;
    }

    28%
    {
        top: 50%;
        left: 75%;
    }

    42%
    {
        top: 40%;
        left: 53%;
    }

    56%
    {
        top: 0;
        left: 58%;
    }

    70%
    {
        top: 10%;
        left: 36%;
    }

    84%
    {
        top: 20%;
        left: 58%;
    }

    to
    {
        top: -20%;
        left: 53%;
    }
}

@keyframes move-8
{
    from
    {
        top: 120%;
        left: 70%;
    }

    14%
    {
        top: 80%;
        left: 75%;
    }

    28%
    {
        top: 80%;
        left: 51%;
    }

    42%
    {
        top: 50%;
        left: 68%;
    }

    56%
    {
        top: 10%;
        left: 63%;
    }

    70%
    {
        top: 0;
        left: 41%;
    }

    84%
    {
        top: 10%;
        left: 19%;
    }

    to
    {
        top: -20%;
        left: 2%;
    }
}
