/*
Copyright (C) 2019-2020 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

@font-face
{
    font-family: 'Alfa';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url('fonts/alfa_slab_one_regular.woff2') format('woff2');
}

@font-face
{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('fonts/fira_sans.woff2') format('woff2');
}

body
{
    font-family: 'Alfa';

    overflow: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    color: #fff;
}

:root {
    --width: 12vh;
    --height: 8vh;
    font-size: 2.8vh;
    --yellow: #ffd45e;
    --difficulty: 12s;
}

#container
{
    width: 56.25vh;
    height: 100vh;
}

@media (max-width: 56.25vh)
{
    #container
    {
        width: 100vw;
        height: 177.78vw;
    }

    :root {
        --width: 21.33vw;
        --height: 14.22vw;
        font-size: 5vw;
    }
}

@media (orientation: landscape)
{
    #container
    {
        width: 100vw;
        height: 56.25vw;
    }

    :root {
        --width: 12vw;
        --height: 8vw;
        font-size: 2vw;
    }

    @media (max-height: 56.25vw)
    {
        #container
        {
            width: 177.78vh;
            height: 100vh;
        }

        :root {
            --width: 21.33vh;
            --height: 14.22vh;
            font-size: 3.56vh;
        }
    }
}

#container
{
    position: relative;
    z-index: 1;

    overflow: hidden;

    margin: auto;

    background-color: var(--yellow);
}

.target
{
    position: absolute;
    left: 100%;

    display: none;

    width: var(--width);
    height: var(--height);

    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

input.target
{
    z-index: 100;

    margin: 0;

    opacity: 0;
}

input.target:checked + .crab
{
    display: block;
}

input.target:checked
{
    display: block;

    cursor: pointer;
}

.walk_animation
{
    position: absolute;
    z-index: 9;

    width: 100%;
    height: 100%;

    animation: sprite 2s steps(23) infinite alternate;

    background-image: url('images/ferris_walking.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.ferris_shadow
{
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#medium:target ~ .crab > .walk_animation
{
    animation-duration: 1.6s;
}

#fast:target ~ .crab > .walk_animation
{
    animation-duration: 1.2s;
}

#rust:target ~ .crab > .walk_animation
{
    animation-duration: .8s;
}

a
{
    text-decoration: none;

    color: #fff;
}

@media (pointer: coarse)
{
    input.target
    {
        transform: scale(1.2);
    }
}
@keyframes sprite
{
    from
    {
        background-position-y: 0;
    }

    to
    {
        background-position-y: 100%;
    }
}
